
{% extends "layout.html" %}

{% block pageTitle %}
Branching and routing • How to... • GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/branching/multiple" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
              Do you like the Smeds and the Smoos?
            </h2>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smeds-and-smoos-like-yes" name="smeds-and-smoos-like" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="smeds-and-smoos-like-yes">
                Yes, I do
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="smeds-and-smoos-like-no" name="smeds-and-smoos-like" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="smeds-and-smoos-like-no">
                No!
              </label>
            </div>
          </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>



    </div>
  </div>

{% endblock %}
