
{% extends "layout.html" %}

{% block pageTitle %}
Branching and routing • How to... • GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Bye then!
      </h1>

    </div>
  </div>

{% endblock %}
