
{% extends "layout.html" %}

{% block pageTitle %}
Branching and routing • How to... • GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
          Branching and routing
          <span class="govuk-caption-l">(with a hint of templating)</span>
      </h1>

      <p>
        You can show a user different pages, depending on how they've answered a question.
      </p>

      <p>
        The code for this example is in your prototype folder:
      </p>

      <pre class="app-code"><code>/app/routes.js
/app/views/branching</code></pre>

<a href="/branching/binary" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
  Start example
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
  </svg>
</a>



    </div>
  </div>

{% endblock %}
