
{% extends "layout.html" %}

{% block pageTitle %}
Branching and routing • How to... • GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/branching/templating-hint" method="post" class="form">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
              Yay! Which one is your favourite?
            </h2>
          </legend>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="favourite-type-smoo" name="favourite-type" type="radio" value="smeds">
              <label class="govuk-label govuk-radios__label" for="favourite-type-smoo">
                Smeds
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="favourite-type-smed" name="favourite-type" type="radio" value="smoos">
              <label class="govuk-label govuk-radios__label" for="favourite-type-smed">
                Smoos
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="favourite-type-smoo-smed" name="favourite-type" type="radio" value="smoo-smed">
              <label class="govuk-label govuk-radios__label" for="favourite-type-smoo-smed">
                Smoo-Smed
              </label>
            </div>

          </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>



    </div>
  </div>

{% endblock %}
