
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Branching and routing • How to... • GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row" style="background-color:#1d70b8;">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l" style="color:#fff;">
          All the Smoos are blue
      </h1>

      <a href="templating-hint" class="govuk-button govuk-button--secondary" data-module="govuk-button">Now, a hint of templating</a>

    </div>
  </div>



{% endblock %}
