
{% extends "layout.html" %}

{% block pageTitle %}
Branching and routing • How to... • GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          (a hint of) Templating
      </h1>

      {% if data['filter-type'] === "event" %}

      <p>
        We know the options selected previously because they are all stored in the session. As well as using those known options to branch users down different paths, we can also use those options to template different content on a page.
      </p>

      <p>
        We know that {% if data['smeds-and-smoos-like'] === "yes" %} a user likes the Smeds and the Smoos because they said yes. {% else %} users don't like Smeds and Smoos. {% endif %}
      </p>

      <p>
        We know that user's favourite is <strong>{{ data['favourite-type'] }}</strong>.
      </p>


      <p>We can display all data logged in the session: {{ data | dump }}</p>

      <p>
        Thanks, bye
      </p>

    </div>
  </div>

{% endblock %}
