
{% extends "layout.html" %}

{% block pageTitle %}
  How to... • GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-m">The GOV.UK Prototype Kit {{releaseVersion}}</span>
          How to...
      </h1>{{releaseVersion | log }}
      <p class="govuk-body-l">
        Contained examples of how to use the prototyping kit’s super powers.
      </p>

      <ul class="govuk-list govuk-list--number">
        <li>
          <a href="/branching">Branching and routing (with a hint of templating)</a>
        </li>
        <li>
          Validation
        </li>
        <li>
          Showing and hiding
        </li>
        <li>
          Sending data across prototypes
        </li>
        <li>
          Filtering large pieces of content
        </li>

      </ul>
    </div>
  </div>

{% endblock %}
